<app-loader></app-loader>
<div class="row mainContainer">
  <div class="col-3 sideNavContainer">
    <app-side-main-nav></app-side-main-nav>
  </div>
  <div class="col-9 padding-adjustment">
    <div class="row navbar-height">
      <app-navbar style="width: 100%; height: 100%"></app-navbar>
    </div>
    <div class="page-wrapper">
      <div class="row justify-content-between">
        <div class="heading">Service</div>
        <div class="flexTwo">
          <mat-form-field class="search-bar" appearance="outline">
            <input matInput (keyup)="applyFilter($event)" #input />
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row table-position">
        <div class="col-sm-1"></div>
        <div class="mat-elevation-z8 col-sm-10">
          <div class="table-header" style="background: #ffff">
            <mat-icon class="material-icons-outlined mat-icon-specs"
              >visibility</mat-icon
            >
            <span class="sub-heading set-sub-heading-place">
              View Exclusive List
            </span>
          </div>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            #sorter1="matSort"
            matSortDirection="asc"
            style="width: 100%"
          >
            <ng-container matColumnDef="short_code">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                <b>Service Code</b>
              </th>
              <td style="text-align: center" mat-cell *matCellDef="let element">
                {{ element.short_code }}
              </td>
            </ng-container>

            <ng-container matColumnDef="msisdn_pattern">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                <b> MSISDN Pattern</b>
              </th>
              <td style="text-align: center" mat-cell *matCellDef="let element">
                {{ element.msisdn_pattern }}
              </td>
            </ng-container>

            <ng-container matColumnDef="created_by">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>
                <b> Created By</b>
              </th>
              <td style="text-align: left" mat-cell *matCellDef="let element">
                {{ element.created_by }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td style="text-align: center" mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    (click)="editString(element)"
                    class="info"
                    mat-menu-item
                  >
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>

                  <button
                    (click)="deleteString(element)"
                    class="info"
                    mat-menu-item
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            class="Paginating"
            #MatPaginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20, 50, 100]"
          >
          </mat-paginator>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <br /><br />
    </div>
  </div>
</div>
