<div
  style="background: #ffffff 0% 0% no-repeat padding-box; opacity: 1"
  class="toolbarFlex navBar mat-elevation-z2 box-alignment-settings"
>
  <div></div>
  <div
    class="d-flex justify-content-center align-items-center"
    style="margin-right: 20px"
  >
    <div class="mr-1 d-flex flex-row">
      <div class="mr-2" style="display: flex; flex-direction: column">
        <span style="align-self: end">{{ userName || "N/A" }}</span>
      </div>
    </div>
    <div class="circle">
      <button
        [matMenuTriggerFor]="menu"
        mat-button
        style="background: transparent; border: none; margin-top: 8px"
        class="initials"
      >
        {{ nameInitials || "NA" }}
      </button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          (click)="logout()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </div>
  </div>
</div>
