<app-loader></app-loader>

<div class="row mainContainer">
  <div class="col-3 sideNavContainer">
    <app-side-main-nav
      [addEditServicesChecker]="addEditServiceChecker"
    ></app-side-main-nav>
  </div>
  <div class="col-9 padding-adjustment">
    <div class="row navbar-height">
      <app-navbar style="width: 100%; height: 100%"></app-navbar>
    </div>

    <div class="page-wrapper">
      <div class="row heading">Service Code</div>
      <div class="row page-margin mt-5">
        <div class="col-sm-11">
          <form [formGroup]="serviceCodeForm" class="form-design mt-3 mb-3">
            <mat-card class="example-card">
              <mat-card-title>
                <div class="table-header" style="background: #ffff">
                  <mat-icon class="material-icons-outlined mat-icon-specs"
                    >visibility</mat-icon
                  >

                  <span class="sub-heading set-sub-heading-place">
                    {{ heading }}
                  </span>
                </div>
              </mat-card-title>

              <mat-card-content class="form-design mt-3 mb-3">
                <div class="form-column">
                  <mat-form-field appearance="outline">
                    <mat-label>Service Code</mat-label>
                    <input
                      (change)="checkSubService()"
                      maxlength="50"
                      matInput
                      type="text"
                      formControlName="short_code"
                    />
                    <mat-icon *ngIf="short_code.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="short_code.hasError('required')">
                      Service Code is required
                    </mat-error>
                    <mat-error *ngIf="short_code.hasError('pattern')">
                      {{ patternText }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-column">
                  <p>
                    <mat-checkbox
                      formControlName="is_chargable"
                      [ngStyle]="{
                        'pointer-events':
                          serviceCodeForm.getRawValue().has_menu ||
                          serviceCodeForm.getRawValue().is_string_based_charging
                            ? 'none'
                            : 'auto'
                      }"
                      style="margin-right: 20px"
                      [disabled]="
                        serviceCodeForm.getRawValue().has_menu ||
                        serviceCodeForm.getRawValue().is_string_based_charging
                      "
                      (click)="
                        chargeable(!serviceCodeForm.getRawValue().is_chargable)
                      "
                      >Chargeable</mat-checkbox
                    >
                    <mat-checkbox
                      formControlName="has_menu"
                      [ngStyle]="{
                        'pointer-events':
                          serviceCodeForm.getRawValue().is_chargable ||
                          serviceCodeForm.getRawValue().is_bank_short_code ||
                          serviceCodeForm.getRawValue()
                            .is_string_based_charging ||
                          serviceCodeForm.getRawValue().is_sms_mo
                      }"
                      style="margin-right: 20px"
                      [disabled]="
                        serviceCodeForm.getRawValue().is_chargable ||
                        serviceCodeForm.getRawValue().is_bank_short_code ||
                        serviceCodeForm.getRawValue()
                          .is_string_based_charging ||
                        serviceCodeForm.getRawValue().is_sms_mo
                      "
                      (click)="
                        onCheckBox(!serviceCodeForm.getRawValue().has_menu)
                      "
                      >Has Menu</mat-checkbox
                    >
                    <mat-checkbox
                      style="margin-right: 20px"
                      formControlName="optional_sms"
                      (change)="update_sms()"
                    >
                      Optional SMS</mat-checkbox
                    >
                    <mat-checkbox
                      style="margin-right: 20px"
                      [ngStyle]="{
                        'pointer-events':
                          serviceCodeForm.getRawValue()
                            .is_string_based_charging ||
                          serviceCodeForm.getRawValue().is_sms_mo
                            ? 'none'
                            : 'auto'
                      }"
                      [disabled]="
                        serviceCodeForm.getRawValue()
                          .is_string_based_charging ||
                        serviceCodeForm.getRawValue().is_sms_mo
                      "
                      formControlName="is_bank_short_code"
                      (click)="
                        banking(
                          !serviceCodeForm.getRawValue().is_bank_short_code
                        )
                      "
                      >Banking Service</mat-checkbox
                    >
                    <mat-checkbox
                      style="margin-right: 20px"
                      formControlName="is_sponsored_charging"
                      (change)="update_sponsored()"
                      >Sponsored</mat-checkbox
                    >

                    <mat-checkbox
                      style="margin-right: 20px"
                      formControlName="is_sensitive"
                      >Sensitive</mat-checkbox
                    >

                    <mat-checkbox
                      style="margin-right: 20px"
                      [ngStyle]="{
                        'pointer-events': serviceCodeForm.getRawValue()
                          .is_sms_mo
                          ? 'none'
                          : 'auto'
                      }"
                      [disabled]="serviceCodeForm.value.is_sms_mo"
                      formControlName="is_string_based_charging"
                      (change)="checkIsStringBasedCharging($event)"
                      >Enable string based charging</mat-checkbox
                    >

                    <mat-checkbox
                      style="margin-right: 20px"
                      formControlName="is_sms_mo"
                      (change)="checkIsSmsMo($event)"
                      >SMS MO</mat-checkbox
                    >

                    <!-- <mat-checkbox
                      style="margin-right: 20px"
                      (change)="groupConsentCheck()"
                      [disabled]="
                        !serviceCodeForm.getRawValue().is_bank_short_code
                      "
                      [ngStyle]="{
                        'pointer-events': !serviceCodeForm.getRawValue()
                          .is_bank_short_code
                          ? 'none'
                          : 'auto'
                      }"
                      formControlName="is_group_consent"
                      >Group Consent</mat-checkbox
                    > -->
                  </p>
                </div>

                <div class="form-column">
                  <mat-radio-group
                    formControlName="radioButtons"
                    aria-label="Select an option"
                    (change)="checkRadio($event)"
                  >
                    <mat-radio-button [value]="true" class="mr-4"
                      >Fixed</mat-radio-button
                    >
                    <mat-radio-button [value]="false"
                      >Relative</mat-radio-button
                    >
                  </mat-radio-group>
                </div>

                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().has_menu == false &&
                    serviceCodeForm.getRawValue().is_sms_mo == false
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Protocol</mat-label>
                    <mat-select
                      (selectionChange)="updateField($event.value)"
                      [formControl]="esme_protocol"
                      required
                      placeholder="Select"
                    >
                      <mat-option>Select</mat-option>
                      <mat-option
                        *ngFor="let protocolName of protocolNames"
                        [value]="protocolName.id"
                      >
                        {{ protocolName.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="esme_protocol.hasError('required')"
                      >Please choose a Protocol</mat-error
                    >
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.value.esme_protocol == 1 ||
                    serviceCodeForm.value.esme_protocol == 2
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Esme Configuration</mat-label>
                    <mat-select
                      [formControl]="action_id"
                      required
                      placeholder="Select"
                    >
                      <mat-option>Select</mat-option>
                      <mat-option
                        *ngFor="let name of esmes"
                        [value]="name.esme_id || name.id"
                      >
                        {{ name.esme_name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="action_id.hasError('required')"
                      >Please choose a type</mat-error
                    >
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.is_chargable == true"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Chargeable Type</mat-label>
                    <mat-select
                      [formControl]="charge_type"
                      (selectionChange)="checkChargeableTypes()"
                      required
                      placeholder="Select"
                    >
                      <mat-option>Select</mat-option>
                      <mat-option
                        *ngFor="let name of chargable_types"
                        [value]="name.value"
                      >
                        {{ name.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="charge_type.hasError('required')"
                      >Please choose a type</mat-error
                    >
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.is_bank_short_code == true"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Group Types</mat-label>
                    <mat-select
                      [formControl]="group_type"
                      required
                      placeholder="Select"
                    >
                      <mat-option>Select</mat-option>
                      <mat-option
                        *ngFor="let name of group_type_selection"
                        [value]="name.value"
                      >
                        {{ name.type_name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="group_type.hasError('required')"
                      >Please choose a type</mat-error
                    >
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.is_bank_short_code == true"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Authentication Method</mat-label>
                    <mat-select
                      [formControl]="authentication_method"
                      required
                      (selectionChange)="authenticationMethodChange()"
                      placeholder="Select"
                    >
                      <mat-option>Select</mat-option>
                      <mat-option
                        *ngFor="let name of authentication_method_selection"
                        [value]="name"
                      >
                        {{ name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="authentication_method.hasError('required')"
                      >Please choose a type</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="form-column">
                  <mat-form-field appearance="outline">
                    <mat-label>Previous Option</mat-label>
                    <input
                      matInput
                      type="text"
                      (keydown)="_keydown($event)"
                      formControlName="previous_option"
                    />
                    <mat-icon *ngIf="previous_option.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="previous_option.hasError('required')">
                      Option is required
                    </mat-error>
                    <mat-error *ngIf="previous_option.hasError('pattern')">
                      Enter either a number or */#
                    </mat-error>
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.is_chargable == true"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input
                      min="0"
                      matInput
                      type="number"
                      formControlName="amount"
                    />
                    <mat-icon *ngIf="amount.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="amount.hasError('required')">
                      Amount is required
                    </mat-error>
                    <mat-error *ngIf="amount.hasError('pattern')">
                      Only greater then 0 is allowed
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-column">
                  <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input
                      maxlength="50"
                      matInput
                      type="text"
                      formControlName="title"
                    />
                    <mat-icon *ngIf="title.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="title.hasError('required')">
                      Title is required
                    </mat-error>
                    <mat-error *ngIf="title.hasError('noAllSpaces')">
                      All spaces are not allowed
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-column">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea
                      maxlength="160"
                      rows="2"
                      class="textarea"
                      matInput
                      formControlName="description"
                    ></textarea>
                    <mat-icon *ngIf="description.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="description.hasError('required')">
                      Description is required
                    </mat-error>
                    <mat-error *ngIf="description.hasError('noAllSpaces')">
                      All spaces are not allowed
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="form-column">
                  <mat-form-field appearance="outline">
                    <mat-label>Timeout in seconds</mat-label>
                    <input
                      matInput
                      type="text"
                      (keydown)="_keydown($event)"
                      (keydown)="_keydown($event)"
                      formControlName="session_timeout"
                      placeholder="Timeout in seconds"
                    />
                    <mat-icon *ngIf="session_timeout.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="session_timeout.hasError('required')">
                      timeout is required
                    </mat-error>
                    <mat-error *ngIf="session_timeout.hasError('pattern')">
                      invalid timeout value
                    </mat-error>
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.esme_protocol == 3"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Short Code</mat-label>
                    <input matInput type="text" formControlName="sms_number" />
                    <mat-icon *ngIf="sms_number.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="sms_number.hasError('required')">
                      Short Code is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.esme_protocol == 3"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Short Code Text</mat-label>
                    <input
                      maxlength="160"
                      matInput
                      type="text"
                      formControlName="sms_number_text"
                    />
                    <mat-icon *ngIf="sms_number_text.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="sms_number_text.hasError('required')">
                      Short Code text is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Consent Menu</mat-label>
                    <textarea
                      rows="2"
                      class="textarea"
                      matInput
                      maxlength="300"
                      formControlName="consent_menu"
                    ></textarea>

                    <mat-error *ngIf="consent_menu.hasError('required')">
                      Consent Menu is required
                    </mat-error>
                    <span
                      style="color: #59caea"
                      matSuffix
                      *ngIf="serviceCodeForm.value.consent_menu"
                    >
                      {{ serviceCodeForm.value.consent_menu.length }}/300
                    </span>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Consent Lifetime In days</mat-label>
                    <input
                      matInput
                      type="text"
                      (keydown)="_keydown($event)"
                      placeholder="Consent Lifetime In days"
                      formControlName="consent_lifetime"
                    />
                    <mat-icon *ngIf="consent_lifetime.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="consent_lifetime.hasError('min')">
                      Consent Lifetime must be greater than or equal to 0
                    </mat-error>
                    <mat-error *ngIf="consent_lifetime.hasError('required')">
                      Consent Lifetime is required
                    </mat-error>
                    <mat-error *ngIf="consent_lifetime.hasError('pattern')">
                      invalid Consent Lifetime value
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Bank ID</mat-label>
                    <input
                      matInput
                      type="text"
                      (keydown)="_keydown($event)"
                      formControlName="bank_id"
                    />
                    <mat-icon *ngIf="bank_id.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="bank_id.hasError('required')">
                      Bank ID is required
                    </mat-error>
                    <mat-error *ngIf="bank_id.hasError('pattern')">
                      invalid Bank ID
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Bank Api URL</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="bank_api_url"
                    />
                    <mat-icon *ngIf="bank_api_url.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="bank_api_url.hasError('required')">
                      Bank Api URL is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_sponsored_charging == true
                  "
                >
                  <!-- (keydown)="_keydown($event)" -->
                  <mat-form-field appearance="outline">
                    <mat-label>MSISDN</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="esme_charging_msisdn"
                    />
                    <mat-icon *ngIf="esme_charging_msisdn.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error
                      *ngIf="esme_charging_msisdn.hasError('required')"
                    >
                      MSISDN is required
                    </mat-error>
                    <mat-error *ngIf="esme_charging_msisdn.hasError('pattern')">
                      invalid MSISDN Please enter a valid MSISDN
                    </mat-error>
                    <mat-error
                      *ngIf="esme_charging_msisdn.hasError('minlength')"
                    >
                      MSISDN is required
                    </mat-error>
                    <mat-error
                      *ngIf="esme_charging_msisdn.hasError('maxlength')"
                    >
                      MSISDN is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true &&
                    serviceCodeForm.value.authentication_method == 'JWT'
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Authentication Api URL</mat-label>
                    <input
                      matInput
                      type="text"
                      selection
                      formControlName="authentication_api_url"
                    />
                    <mat-icon *ngIf="authentication_api_url.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error
                      *ngIf="authentication_api_url.hasError('required')"
                    >
                      Authentication Api URL is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="serviceCodeForm.value.optional_sms"
                >
                  <mat-form-field appearance="outline">
                    <mat-label>SMS Text</mat-label>
                    <input
                      matInput
                      type="text"
                      required
                      formControlName="sms_text"
                    />
                    <mat-icon *ngIf="sms_text.valid" matSuffix>done</mat-icon>
                    <mat-error *ngIf="sms_text.hasError('required')">
                      Optional Text is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true &&
                    serviceCodeForm.value.authentication_method == 'JWT'
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Bank User Name</mat-label>
                    <input
                      maxlength="50"
                      autocomplete="new-password"
                      matInput
                      type="text"
                      formControlName="bank_user_name"
                    />
                    <mat-icon *ngIf="bank_user_name.valid" matSuffix
                      >done</mat-icon
                    >
                    <mat-error *ngIf="bank_user_name.hasError('required')">
                      Bank User Name is required
                    </mat-error>
                    <!-- <mat-error *ngIf="bank_user_name.hasError('pattern')">
                    only (_ .) is allowed
                  </mat-error> -->
                  </mat-form-field>
                </div>

                <div
                  class="form-column"
                  *ngIf="
                    serviceCodeForm.getRawValue().is_bank_short_code == true &&
                    serviceCodeForm.value.authentication_method == 'JWT'
                  "
                >
                  <mat-form-field appearance="outline">
                    <mat-label>Bank Password</mat-label>
                    <input
                      autocomplete="doNotAutoComplete"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      formControlName="bank_password"
                    />
                    <a
                      mat-icon-button
                      matSuffix
                      *ngIf="bank_password.valid"
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </a>
                    <mat-error *ngIf="bank_password.hasError('required')">
                      Bank Password is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <form
                  *ngIf="serviceCodeForm.value.charge_type == 3"
                  [formGroup]="addressForm"
                  style="border: 1px solid rgb(226, 226, 226); width: 100%"
                >
                  <div
                    class="p-2 mb-2 d-flex justify-content-between"
                    style="background-color: rgb(225, 223, 223)"
                  >
                    <div>Add Time Slice Charging Sessions</div>

                    <div type="button" class="d-flex align-items-end">
                      <button [disabled]="numOfFiles == 1" class="increment">
                        <mat-icon (click)="increment(numOfFiles, 2)"
                          >remove_circle</mat-icon
                        >
                      </button>

                      {{ numOfFiles }}

                      <button
                        type="button"
                        [disabled]="numOfFiles == 3"
                        class="increment"
                      >
                        <mat-icon (click)="increment(numOfFiles, 1)"
                          >add_circle</mat-icon
                        >
                      </button>
                    </div>
                  </div>
                  <div
                    formArrayName="addresses"
                    *ngFor="let address of addressControls; let i = index"
                    class="pt-1 pr-4 pl-4"
                  >
                    <div
                      [formGroupName]="i"
                      class="d-flex flex-row justify-content-between"
                    >
                      <div style="width: 30%">
                        <mat-form-field appearance="outline">
                          <mat-label>Start time</mat-label>
                          <input
                            matInput
                            type="number"
                            formControlName="minValue"
                          />
                        </mat-form-field>
                      </div>

                      <div style="width: 30%">
                        <mat-form-field appearance="outline">
                          <mat-label>End Time</mat-label>
                          <input
                            matInput
                            type="number"
                            formControlName="maxValue"
                          />
                        </mat-form-field>
                      </div>

                      <div style="width: 30%">
                        <mat-form-field appearance="outline">
                          <mat-label>Amount</mat-label>
                          <input
                            matInput
                            type="number"
                            formControlName="amount"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-card-content>

              <div class="action-buttons">
                <mat-divider inset class="mb-4"></mat-divider>

                <!-- <button mat-raised-button class="cancel-button" routerLink="/service-code-list-view">
                Cancel
              </button> -->

                <button
                  mat-raised-button
                  class="cancel-button"
                  (click)="clearForm()"
                >
                  Cancel
                </button>

                <button
                  *ngIf="historyData !== 'editService'"
                  [disabled]="!serviceCodeForm.valid"
                  mat-raised-button
                  class="submit-button"
                  (click)="onSubmit()"
                >
                  {{ buttonText }}
                </button>
                <button
                  [disabled]="!serviceCodeForm.valid"
                  *ngIf="historyData == 'editService'"
                  mat-raised-button
                  class="submit-button"
                  (click)="editService()"
                >
                  Update Service
                </button>
              </div>
            </mat-card>
          </form>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
